= form_for(@actor, url: actors_path, method: 'post') do |f|
  %table
    %tr
      %td
        Actor Name
      %td
        = f.text_field :name_actor
    %tr
      %td
        Birth Day
      %td
        = f.text_field :birth_day
    %tr
      %td
        Coutry
      %td
        = f.text_field :country
    %tr
      %td{colspan: 2}
        = f.submit :Create


